

*#root {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  background-color: rgb(181, 183, 207);
}


#nav {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000000;
}

#nav th {
 
  background-color: #343981;
  padding-left: 8px;
  text-align: center;
  border: 2px solid #000000;
  color:aliceblue
}
#nav td {
 
  background-color: #eeeff3;
  padding: 8px;
  text-align: left;
  border: 1px solid #000000;
}

#nav2 {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000000;
}

#nav2 tr {
 
  background-color: #d8d9e3;
  padding: 8px;
  text-align: left;
  border: 1px solid #000000;
  color:aliceblue
}

#nav2 td {
 
  background-color: #eeeff3;
  padding: 8px;
  text-align: left;
  border: 1px solid #000000;
}

#emoji {
  background-color: white;
  margin: 15px;
  border-collapse: collapse;
  width: 20px;
  border: 1px solid #000000;
}