

*#root {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  background-color: rgb(181, 183, 207);
}


#nav {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000000;
}

#nav th {
 
  background-color: #343981;
  padding: 8px;
  text-align: left;
  border: 1px solid #000000;
  color:aliceblue
}
#nav td {
 
  background-color: #eeeff3;
  padding: 8px;
  text-align: left;
  border: 1px solid #000000;
}